@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --black: hsl(0, 0%, 11%);
    --light: #eeeeee;
    --main: hsl(255, 84%, 66%);
    --main-dark: hsl(255, 57%, 22%);
    --error: hsl(0, 82%, 64%);
    --sucess: hsl(139, 82%, 61%);
}

body{
    background-color: var(--black);
}

/* Erros e Loadings */

#mensagem_erro{
    display: none;
    color: var(--error);
}

#div_aguardar{
    margin: -30px;
    display: none;
    height: 150px;
}

/* Header */

#header{
    width: 100%;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .logo{
    margin: 5px 10px;
    width: 75px;
    display: flex;
    align-items: center;
}

.headerCenter{
    margin-left: 100px;
    justify-self: center;
}
.headerLink{
    margin: 0px 5px;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

.headerLink:hover{
    text-decoration: underline;
}

.cadastroLink{
    padding: 7px 10px;
    width: 30%;
    border: none;
    margin-right: 5px;
    border-radius: 7px;
    border: 2px solid var(--main);
    color: var(--light);
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}

.cadastroLink:hover{
    background-color: var(--main);
}

.loginLink{
    padding: 7px 21px;
    width: 30%;
    margin-right: 20px;
    border: none;
    border-radius: 7px;
    background-color: var(--main);
    color: var(--light);
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}

.loginLink:hover{
    background-color: hsl(255, 84%, 73%);
}

#headerSelected{
    color: var(--main);
    font-weight: 700;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    margin: 5px 20px;
}

.dropbtn {
    color: var(--light);
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: var(--black);
    margin: 5px 20px;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 5px;
}
  
.dropbtn:hover svg, .dropbtn:focus svg {
    fill: var(--main);
}

.dropbtn:hover p, .dropbtn:focus p {
    color: var(--main);
}
  
.dropdown-content {
    border-radius: 7px;
    border: 3px solid var(--main);
    display: none;
    position: absolute;
    background-color: var(--main-dark);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}
  
.dropdown-content a {
    color: var(--light);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: var(--main);}
  
.show {display: block;}