.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

/* Menu */
.menu{
    margin-top: 21px;
    display: flex;
}

/* Categorias */
.categories{
    display: flex;
    justify-content: flex-end;
    width: 85%;
    gap: 2%;
}

.category{
    color: var(--light);
    background-color: var(--main-dark);
    border: none;
    border-left: solid 7px var(--main);
    border-radius: 4px;
    font-weight: 600;
    padding: 1% 2%;
    cursor: pointer;
    transition: 0.2s ease;
}
.category:hover, .selected, .selected:hover{
    background-color: hsl(255, 57%, 35%);
    border-left: solid 7px var(--light);
}

.addSpeedrun{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.addSpeedrun a{
    text-decoration: none;
    color: var(--light);
    background-color: var(--main-dark);
    border: none;
    border: solid 3px var(--main);
    border-radius: 4px;
    font-weight: 600;
    padding: 4% 8%;
    cursor: pointer;
    transition: 0.2s ease;
}
.addSpeedrun a:hover{
    background-color: hsl(255, 57%, 35%);
    border: solid 3px var(--light);
}

/* Entry */

#containerLeaderboard{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: auto;
    width: 100%;
    margin-top: 21px;
}
.left{
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.right{
    width: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.entry{
    display: flex;
    justify-content: space-between;
    background-color: var(--main-dark);
    border-left: 7px solid var(--main);
    border-radius: 7px;
    padding: 14px 49px;
    cursor: pointer;
    transition: 0.2s ease;
}
.entry:hover{
    background-color: hsl(255, 57%, 35%);
}

.entry .position{
    color: #fff;
    font-weight: 800;
    font-size: 1.2em;
}
.entry .time{
    color: #fff;
    font-weight: 600;
}
.entry .userName, .platform, .date, .categoryEntry{
    color: #fff;
    font-weight: 400;
}

.entry .flag{
    height: 25px;
    border-radius: 3px;
    margin-left: 42px;
}

.entry .userName{
    margin-left: 42px;
}

.entry .categoryEntry{
    margin-right: 42px;
}

.entry .date{
    margin-right: 70px;
}

.entry .time{
    margin-right: 77px;
}

.entry .place1{
    background: -webkit-linear-gradient(#e7e419, #fff8a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.entry .place2{
    color: silver;
}

.entry .place3{
    color: #cd7f32;
}