.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
}

/* Menu */
.menu{
    margin-top: 21px;
    display: flex;
}

/* Categorias */
.categories{
    display: flex;
    justify-content: flex-end;
    width: 85%;
    gap: 2%;
}

.category{
    color: var(--light);
    background-color: var(--main-dark);
    border: none;
    border-left: solid 7px var(--main);
    border-radius: 4px;
    font-weight: 600;
    padding: 1% 2%;
    cursor: pointer;
    transition: 0.2s ease;
}
.category:hover, .selected, .selected:hover{
    background-color: hsl(255, 57%, 35%);
    border-left: solid 7px var(--light);
}

.addSpeedrun{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.addSpeedrun a{
    text-decoration: none;
    color: var(--light);
    background-color: var(--main-dark);
    border: none;
    border: solid 3px var(--main);
    border-radius: 4px;
    font-weight: 600;
    padding: 4% 8%;
    cursor: pointer;
    transition: 0.2s ease;
}
.addSpeedrun a:hover{
    background-color: hsl(255, 57%, 35%);
    border: solid 3px var(--light);
}

/* Entry */
#containerLeaderboard{
    margin: auto;
    width: 100%;
    margin-top: 21px;
    border-collapse: separate;
    border-spacing: 0 7px;
}

.left-border {
    width: 7px;
    background-color: var(--main);
    border-radius: 7px 0 0 7px;
}

.entry {
    background-color: var(--main-dark);
    cursor: pointer;
    transition: 0.2s ease;
    padding-bottom: 7px;
}
  
.entry:hover {
    background-color: hsl(255, 57%, 35%);
}

.entryText{
    color: #fff;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
    text-align: center;
}

.position {
    font-weight: 800;
    font-size: 1.2em;
    padding: 21px;
}

.flag {
    height: 25px;
    border-radius: 3px;
    vertical-align: middle;
}

.userName {
    flex-shrink: 1;
    text-align: left;
}

.time {
    font-weight: 600;
    padding: 14px;
}

.erro{
    color: var(--error);
    font-weight: 600;
    margin: 21px;
}
  
.entry .place1 {
    background: -webkit-linear-gradient(#e7e419, #fff8a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.entry .place2 {
    color: silver;
}
  
.entry .place3 {
    color: #cd7f32;
}
  